version: '3'

services:
  selenoid:
    image: "aerokube/selenoid"
    network_mode: bridge
    ports:
      - "4444:4444"
    volumes:
      - "./browsers.json:/etc/selenoid/browsers.json"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "$PWD.:/etc/selenoid"
      - "$PWD/video:/opt/selenoid/video"
    environment:
      - DOCKER_API_VERSION=1.35
      - OVERRIDE_VIDEO_OUTPUT_DIR=$PWD/video
      - TIMEOUT="1s"
      - LIMIT=10
    command: ["-conf", "/etc/selenoid/browsers.json", "-video-output-dir", "/opt/selenoid/video", "-limit", "10", "-session-delete-timeout", "1s"]

  selenoid-ui:
    image: "aerokube/selenoid-ui"
    network_mode: bridge
    links:
      - selenoid
    ports:
      - "8081:8080"
    command: ["--selenoid-uri", "http://selenoid:4444"]